module.exports = {
	'db': {
		'host': 'localhost',
        'port': 3306,
		'username': 'db_username',
		'password': 'db_secret',
		'database': 'addresses',
		'charset': 'utf8mb4'
	},

	'server': {
		'port': 3000
	}
}